body{
    text-align:left;
    margin: 0;
    padding: 0;
          /* Garante que o texto interno também alinhe */
    color: #722F37;            /* Cor do texto */
    font-family: sans-serif;
    background: #cd9793;
    font-family: Arial, sans-serif;
}



h1{
     padding: 20PX;
    margin-top: 20PX
}

.creator-container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    display: flex;
    gap: 50px;
}

.avatar-viewer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.controls {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h3 {
    margin-top: 0;
    color: #333;
}

label {
    font-weight: bold;
    font-size: 14px;
    color: #555;
}

input[type="color"] {
    border: none;
    width: 100%;
    height: 35px;
    cursor: pointer;
    border-radius: 5px;
}




.carousel-container {
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    padding: 40px;
}

.carousel-main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.avatar-frame {
     width: 300px;         /* Ajuste o tamanho aqui */
    height: 300px;        /* Mantenha igual ao width */
    border-radius: 50%;   /* Se quiser que continue circular */
    border: 8px solid #ffffff; /* Cor que você está usando no Glow Up */
    object-fit: cover;    /* Não deixa a imagem esticar */
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.avatar-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;   /* Se quiser que continue circular */
}

.nav-btn {
    background: #722F37;
    color: white;
    border: none;
    font-size: 24px;
    padding: 15px;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.nav-btn:hover {
    background: #722F37;
    transform: scale(1.1);
}

.btn-confirmar {
    margin-top: 20px;
    padding: 12px 30px;
    background: #722F37;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

header{
    text-align: center;
    color: #722F37;
}

p{
    font-size: 17px;
    margin: 15px;
    margin-right: 10px;
    margin-top: 10px;
}

